@import "bootstrap/scss/bootstrap";

.card {
  transition: transform 400ms ease-in-out;
  border: 0;
  &:hover {
    transform: scale(1.05);
    color: $warning;
    .card-title {
      color: $warning;
    }
  }
}

#project-card {
  &:hover {
    transform: scale(1.02);
  }
}
