@import "bootstrap/scss/bootstrap";

.card {
  transition: transform 400ms ease-in-out;
  border: 0;
  &:hover {
    transform: scale(1.05);
    color: $warning;
    .card-title {
      color: $warning;
    }
  }
}

#project-card {
  &:hover {
    transform: scale(1.02);
  }
}

.card__details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Adjust the background color and opacity as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.card:hover .card__details {
  opacity: 1; /* Show on hover */
}
