// this file serves to override the style of some specific Bootstrap CSS selectors

.card {
  &:hover {
    .card__details {
      opacity: 1;
    }
  }

  .card__details {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
